.item {
  margin: 20px;
  padding: 20px;
}

h3 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100px;
}
mat-radio-group {
  margin-top: 50px;
  margin-bottom: 50px;

  width: 100%;
  display: flex;
  justify-content: center;
}
mat-radio-button {
  margin-left: 50px;
}
@media (max-width: 700px) {
  mat-radio-button {
    margin-left: 50px;
  }
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }
}
