<ng-container class="ads" *ngIf="(productsInCart | async)?.length">
  <ng-container *ngIf="innerWidth <= 639">
    <div class="clear" style="cursor: pointer" (click)="clearAll()">
      <mat-icon>close</mat-icon>
      <p>Clear cart</p>
    </div>

    <div class="mobile-array">
      <div
        class="single-item"
        *ngFor="let product of productsInCart | async; let i = index"
      >
        <div class="top">
          <div class="info">
            <img src="{{ product.image }}" alt="" />
            <h5>{{ product.title | slice: 0:20 }}</h5>
          </div>

          <div class="buttons">
            <mat-icon style="cursor: pointer" (click)="deleteProduct(product)"
              >delete</mat-icon
            >
          </div>
        </div>

        <div class="price">
          <div class="quantity">
            <p>
              <b>{{ product.quantity }} </b>
            </p>
            <span
              ><mat-icon (click)="addQuantity(product)">add</mat-icon>
              <mat-icon (click)="reduceQuantity(product)"
                >remove</mat-icon
              ></span
            >
          </div>
          <p>
            <b>{{ product.priceAfterSummary | number }} $</b>
          </p>
        </div>
      </div>
      <div class="total-price">
        <h3>Total price</h3>

        <p>
          <b>{{ totalPrice$ | async | number }} $</b>
        </p>
      </div>

      <div class="actions-mobile">
        <div
          class="back"
          style="cursor: pointer"
          routerLink="/products/list-products"
        >
          <mat-icon style="cursor: pointer">arrow_back</mat-icon>
          <p>Go Back shooping</p>
        </div>

        <div class="forward" style="cursor: pointer">
          <p>Pay now</p>
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </div></ng-container
  >
  <ng-container *ngIf="innerWidth > 639">
    <div class="clear" style="cursor: pointer" (click)="clearAll()">
      <mat-icon>close</mat-icon>
      <p>Clear cart</p>
    </div>
    <mat-table [dataSource]="productsInCart" class="mat-elevation-z8">
      <ng-container matColumnDef="No.">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Image">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
        <mat-cell *matCellDef="let element"
          ><img class="image" src="{{ element.image }}" alt="" />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.title | slice: 0:20 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.price | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="PriceTotal">
        <mat-header-cell *matHeaderCellDef> Price total </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.priceAfterSummary | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.quantity }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon style="cursor: pointer" (click)="addQuantity(element)"
            >add_circle_outline</mat-icon
          >
          <mat-icon style="cursor: pointer" (click)="reduceQuantity(element)"
            >remove_circle_outline</mat-icon
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon style="cursor: pointer" (click)="deleteProduct(element)"
            >delete</mat-icon
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-card class="summary"
      ><p>
        Total : <b>{{ totalPrice$ | async | number }} $</b>
      </p>
      <div class="actions">
        <div
          class="back"
          style="cursor: pointer"
          routerLink="/products/list-products"
        >
          <mat-icon style="cursor: pointer">arrow_back</mat-icon>
          <p>Go Back shooping</p>
        </div>

        <div class="forward" style="cursor: pointer">
          <p>Pay now</p>
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div></mat-card
    >
  </ng-container>
</ng-container>

<ng-container *ngIf="!(productsInCart | async)?.length">
  <div class="container-fluid">
    <img
      src="https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/259786721_222371866636718_8178616446753296561_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=10Bo_m1BzXsAX_5hUQ9&_nc_ht=scontent.fpoz1-1.fna&oh=40b4ca4e1a9273cc8748f406a9f43a80&oe=61C39B65"
      alt=""
    />
    <h3>Your cart is epmty!</h3>
    <div class="actions-empty">
      <div
        class="back"
        style="cursor: pointer"
        routerLink="/products/list-products"
      >
        <mat-icon style="cursor: pointer">arrow_back</mat-icon>
        <p>Go Back shooping</p>
      </div>
    </div>
  </div>
</ng-container>
