.container-fluid {
  margin-top: 30px;
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
::ng-deep.pc {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  max-width: 1000px;
}
.mobile-array {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .single-item {
    flex-wrap: wrap;
    border-style: groove;
    padding: 10px;
    margin: initial;
    max-height: 140px;
    margin-bottom: 7px;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: row;
        h5 {
          margin-left: 20px;
        }

        img {
          width: 50px;
          height: 70px;
        }
      }
    }

    .quantity {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 20px;
      span {
        margin-left: 10px;
      }
    }
    .price {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
  .actions-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .back {
      display: flex;
      flex-direction: row;
      p {
        margin-left: 4px;
      }
    }
    .forward {
      display: flex;
      flex-direction: row;
      p {
        margin-right: 4px;
      }
    }
  }
  .total-price {
    margin: 20px;
  }
  .hided-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: cadetblue;
}
.mat-elevation-z8 {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.image {
  width: 50px;
}

mat-row,
mat-header-row,
mat-footer-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
  margin: 4px;
  padding: 21px;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  .actions {
    display: flex;
    flex-direction: row;
    .back {
      display: flex;
      flex-direction: row;
      margin-right: 50px;
      p {
        margin-left: 5px;
        position: relative;
      }
      p:after {
        content: "";
        position: absolute;
        background-color: rgb(148, 147, 147);
        height: 3px;
        width: 0;
        left: 0;
        bottom: -3px;
        transition: 0.3s;
      }
      p:hover:after {
        width: 100%;
      }
    }
    .forward {
      display: flex;
      flex-direction: row;
      p {
        margin-right: 5px;
        position: relative;
      }

      p:after {
        content: "";
        position: absolute;
        background-color: rgb(148, 147, 147);
        height: 3px;
        width: 0;
        left: 0;
        bottom: -3px;
        transition: 0.3s;
      }
      p:hover:after {
        width: 100%;
      }
    }
  }
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: 20px;
  }
}
.clear {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 30px;
  width: fit-content;
  p {
    position: relative;
    margin-left: 5px;
  }
  p:after {
    content: "";
    position: absolute;
    background-color: rgb(148, 147, 147);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
  }
  p:hover:after {
    width: 100%;
  }
}
.actions-empty {
  .back {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    p {
      margin-left: 5px;
      position: relative;
    }
    p:after {
      content: "";
      position: absolute;
      background-color: rgb(148, 147, 147);
      height: 3px;
      width: 0;
      left: 0;
      bottom: -3px;
      transition: 0.3s;
    }

    p:hover:after {
      width: 100%;
    }
  }
}
