<mat-toolbar>
  <div class="nav-left">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon (click)="sideNavOpen()">menu</mat-icon>
    </button>

    <span
      ><img
        class="store"
        src="https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/260055091_193572879538317_8858622510813727183_n.png?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_ohc=PD0AkF36ZTMAX_rYsYV&_nc_ht=scontent.fpoz1-1.fna&oh=0717cdaced9c3b26653d1b035b406317&oe=61C14813"
        alt=""
    /></span>
  </div>

  <div class="search">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Search for product</mat-label>

      <input matInput type="text" [formControl]="ctrlSearch" />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="nav-right">
    <span
      class="menu"
      style="cursor: pointer"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</span
    >
    <span
      class="menu"
      style="cursor: pointer"
      routerLink="/products/list-products"
      routerLinkActive="active"
      >Products</span
    >

    <mat-icon
      routerLink="/shopping-card"
      matBadge="{{ totalItem }}"
      matBadgeColor="warn"
      style="cursor: pointer; margin-right: 20px"
    >
      local_grocery_store</mat-icon
    >

    <span class="cdk-visually-hidden"> </span>
  </div>
</mat-toolbar>
