mat-toolbar {
  justify-content: space-between;
  background-color: transparent;
  .nav-left {
    button {
      display: none;
    }
  }
  .search {
    width: 50%;
    mat-form-field {
      width: 100%;
    }
  }
}
span {
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 639px) {
  mat-toolbar {
    .nav-left {
      button {
        display: initial;
      }
    }
    .nav-right {
      span {
        display: none;
      }
    }
  }
}
.store {
  margin-top: 10px;
  width: 60px;
}
