mat-toolbar {
  justify-content: space-between;
  background-color: transparent;
  .nav-left {
    button {
      display: none;
    }
    span {
      margin-left: 20px;
      img {
        width: 50px;
      }
    }
  }
  .search {
    width: 50%;
    mat-form-field {
      width: 100%;
      margin-top: 10px;
    }
  }
}
.menu {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.menu:after {
  content: "";
  position: absolute;
  background-color: rgb(148, 147, 147);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}
.menu:hover:after {
  width: 100%;
}
@media only screen and (max-width: 639px) {
  mat-toolbar {
    .nav-left {
      button {
        display: initial;
      }
    }
    .nav-right {
      span {
        display: none;
      }
    }
  }
}
.store {
  margin-top: 10px;
  width: 60px;
}
.active {
  position: relative;
  border-style: solid;
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(148, 147, 147);
}
