* {
  font-family: monospace;
}

.container-fluid {
  margin-top: 100px;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  .text {
    span {
      color: rgb(226, 74, 99);
      font-size: 16px;
      font-weight: bold;
    }
    h1 {
      letter-spacing: 1px;
      font-size: 40px;
    }
    display: contents;
    width: 60%;

    flex-direction: column;
    text-align: center;
  }
  .img-box {
    margin-top: 50px;
    text-align: center;
    img {
      width: 70px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}
