<div class="container-fluid">
  <img
    src="https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/259786721_222371866636718_8178616446753296561_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=10Bo_m1BzXsAX_5hUQ9&_nc_ht=scontent.fpoz1-1.fna&oh=40b4ca4e1a9273cc8748f406a9f43a80&oe=61C39B65"
    alt=""
  />
  <h3>Your cart is epmty!</h3>
  <div class="actions-empty">
    <div
      class="back"
      style="cursor: pointer"
      routerLink="/products/list-products"
    >
      <mat-icon style="cursor: pointer">arrow_back</mat-icon>
      <p>Go Back shooping</p>
    </div>
  </div>
</div>
