img {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}
.col-md-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 4px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 320px;
  border-top: none;
  border-right: none;
  border-color: darkgray;
}
.title {
  font-weight: bold;
}
.description {
  height: 100px;
}
button {
  margin-bottom: 20px;
}
