<div class="container-fluid">
  <mat-card>
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="personalDataForm">
        <form [formGroup]="personalDataForm">
          <ng-template matStepLabel>Personal Data</ng-template>
          <h4>Person Details</h4>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="First name"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input
              matInput
              formControlName="surname"
              placeholder="Surname"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input
              type="number"
              matInput
              formControlName="phoneNumber"
              placeholder="Phone Number"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Birthday</mat-label>
            <input
              matInput
              formControlName="dateOfBirth"
              placeholder="Birthday"
              required
            />
          </mat-form-field>

          <hr />
          <h4>Adress Details</h4>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input
              matInput
              formControlName="country"
              placeholder="Country"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input
              matInput
              formControlName="city"
              placeholder="City"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input
              matInput
              formControlName="street"
              placeholder="Street"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Home Number</mat-label>
            <input
              matInput
              formControlName="homeNuber"
              placeholder="Home Number"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious routerLink="/shopping-card">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="paymentMethodSelect">
        <form [formGroup]="paymentMethodSelect">
          <ng-template matStepLabel>Payment Method</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Method</mat-label>
            <mat-select formControlName="method">
              <mat-option
                *ngFor="let method of paymentMethodsArray"
                [value]="method"
              >
                {{ method }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <ng-container
        *ngIf="paymentMethodSelect.controls['method'].value === 'Credit Card'"
      >
        <mat-step [stepControl]="creditCardMethod">
          <form [formGroup]="creditCardMethod">
            <ng-template matStepLabel>Credit Card</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Card Number</mat-label>
              <input
                matInput
                formControlName="cardNumber"
                placeholder="Card Number"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Date of Expire</mat-label>
              <input
                matInput
                formControlName="expiredDate"
                placeholder="Date of Expire"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Secure Number</mat-label>
              <input
                matInput
                formControlName="secureNumber"
                placeholder="Secure Number"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step></ng-container
      >
      <ng-container
        *ngIf="paymentMethodSelect.controls['method'].value === 'BLIK'"
      >
        <mat-step [stepControl]="blikMethod">
          <form [formGroup]="blikMethod">
            <ng-template matStepLabel>BLIK</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>BLIK CODE</mat-label>
              <input
                matInput
                formControlName="blikCode"
                placeholder="Blik Code"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Secure Number</mat-label>
              <input
                matInput
                formControlName="secureNumber"
                placeholder="Secure Number"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="E-mail"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </ng-container>
      <ng-container
        *ngIf="paymentMethodSelect.controls['method'].value === 'PayPal'"
      >
        <mat-step [stepControl]="paypalMethod">
          <form [formGroup]="paypalMethod">
            <ng-template matStepLabel>PayPal</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>password</mat-label>
              <input
                matInput
                formControlName="password"
                placeholder="Password"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="E-mail"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </ng-container>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <h3>Personal Data</h3>
        <p>
          Name: <b>{{ personalDataForm.controls["name"].value }}</b>
        </p>
        <p>
          Surname: <b> {{ personalDataForm.controls["surname"].value }}</b>
        </p>
        <p>
          Phone Number:
          <b>{{ personalDataForm.controls["phoneNumber"].value }}</b>
        </p>
        <p>
          Date of Birt:
          <b> {{ personalDataForm.controls["dateOfBirth"].value }}</b>
        </p>
        <hr />
        <h3>Adress Details</h3>
        <p>
          Country: <b> {{ personalDataForm.controls["country"].value }} </b>
        </p>
        <p>
          City: <b> {{ personalDataForm.controls["city"].value }} </b>
        </p>
        <p>
          Street: <b>{{ personalDataForm.controls["street"].value }}</b>
        </p>
        <p>
          Home Number: <b>{{ personalDataForm.controls["homeNuber"].value }}</b>
        </p>
        <hr />
        <h3>Payment Method</h3>
        <p>
          <b>{{ paymentMethodSelect.controls["method"].value }}</b>
        </p>
        <hr />
        <h4>Total Price:</h4>
        <p>
          <b>{{ totalPrice$ | async }}$ </b>
        </p>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperNext (click)="finishPaymentForm()">
            Submit
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
