<div class="container-fluid">
  <mat-card>
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="personalDataForm">
        <ng-template matStepLabel>Personal Data</ng-template>
        <app-personal-data-stepper></app-personal-data-stepper>
      </mat-step>
      <mat-step [stepControl]="paymentMethodSelect">
        <ng-template matStepLabel>Payment Method</ng-template>
        <app-method-data-stepper></app-method-data-stepper>
      </mat-step>
      <ng-container [ngSwitch]="paymentMethodSelect.controls['method'].value">
        <ng-container *ngSwitchCase="PaymentMethod.CARD">
          <mat-step [stepControl]="creditCardMethod">
            <ng-template matStepLabel>Credit Card</ng-template>
            <app-credit-card-method></app-credit-card-method> </mat-step
        ></ng-container>
        <ng-container *ngSwitchCase="PaymentMethod.BLIK">
          <mat-step [stepControl]="blikMethod">
            <ng-template matStepLabel>BLIK</ng-template>
            <app-blik-method></app-blik-method>
          </mat-step>
        </ng-container>

        <ng-container *ngSwitchCase="PaymentMethod.PAYPAL">
          <mat-step [stepControl]="paypalMethod">
            <ng-template matStepLabel>PayPal</ng-template>
            <app-paypal-method></app-paypal-method>
          </mat-step>
        </ng-container>
      </ng-container>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <h3>Personal Data</h3>
        <p>
          Name:
          <b>{{ personalDataForm.controls["name"].value }} </b>
        </p>
        <p>
          Surname: <b> {{ personalDataForm.controls["surname"].value }}</b>
        </p>
        <p>
          Phone Number:
          <b>{{ personalDataForm.controls["phoneNumber"].value }}</b>
        </p>
        <p>
          Date of Birth:
          <b> {{ personalDataForm.controls["dateOfBirth"].value | date }} </b>
        </p>
        <hr />
        <h3>Adress Details</h3>
        <p>
          Country: <b> {{ personalDataForm.controls["country"].value }} </b>
        </p>
        <p>
          City: <b> {{ personalDataForm.controls["city"].value }} </b>
        </p>
        <p>
          Street: <b>{{ personalDataForm.controls["street"].value }}</b>
        </p>
        <p>
          Home Number: <b>{{ personalDataForm.controls["homeNuber"].value }}</b>
        </p>
        <hr />
        <h3>Payment Method</h3>
        <p>
          <b>{{ paymentMethodSelect.controls["method"].value }}</b>
        </p>
        <hr />
        <h4>Total Price:</h4>
        <p>
          <b>{{ totalPrice$ | async | number }}$ </b>
        </p>

        <div>
          <button mat-button matStepperPrevious>Back</button>

          <button mat-button matStepperNext (click)="finishPaymentForm()">
            Submit
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
